<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-brand" href="/">Rails 102</a>
    </div>

<!--Collest the nav links,form,and orher content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
</li>
</ul>
</div>
<!-- /.container-fluid -->
</nav>
